VITE_SUPABASE_https://pdsmadarwukvgikhmdmm.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBkc21hZGFyd3Vrdmdpa2htZG1tIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMyMDA4NzIsImV4cCI6MjA4ODc3Njg3Mn0._S1qnTd-p2v_7I-Ijdyr-BhN4KeDJTs5eYrwiol59WQ
